<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:j="http://java.sun.com/jsp/jstl/functions">



<h:head></h:head>


<h:body>
	<h:form id="form">
		<p:growl id="msgs" showDetail="true" />
		<p:dataTable id="tasksTable" var="_task"
			value="#{validationView.listTask}">
			<f:facet name="header">
            Basic
        </f:facet>
			<p:column headerText="Titulo">
				<h:outputText value="#{_task.title}" />
			</p:column>
			<p:column headerText="tiempo	estimado">
				<h:outputText value="#{_task.estimatedtime}" />
			</p:column>
			<p:column headerText="tiempo	trabajado">
				<h:outputText value="#{_task.workedTime}" />
			</p:column>

			<p:column headerText="tiempo restante">
				<h:outputText value="#{_task.remainingTime}" />
			</p:column>
			<p:column headerText="descripción">
				<h:outputText value="#{_task.truncateDescription}" />
			</p:column>
			<p:column style="width:13%;text-align: center;font-size: small">
				<p:commandButton update=":form:taskDetail"
					value="Añadir tiempo	trabajado"
					oncomplete="PF('taskDialog').show()" icon="pi pi-search"
					title="View">
					<f:setPropertyActionListener value="#{_task}"
						target="#{validationView.task}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
		
		<p:dialog widgetVar="taskDialog" modal="true" showEffect="fade"
			hideEffect="fade" resizable="false">
			<p:outputPanel id="taskDetail" style="text-align:center;">
				<p:panel header="tiempo	trabajado">
					<p:panelGrid styleClass="ui-noborder" columns="1" cellpadding="5">
						<p:inputText id="IdworkedTime"
							value="#{validationView.task.workedTime}"
							converterMessage="Formato incorrecto" >
							<f:validateDoubleRange minimum="0.0" />
						</p:inputText>
						<p:message for="IdworkedTime" />
						<h:inputHidden value="#{validationView.task.id}" />
						<h:inputHidden style="border-style: none;"
							value="#{validationView.task.title}" />
						<h:inputHidden style="border-style: none;"
							value="#{validationView.task.estimatedtime}" />
						<h:inputHidden style="border-style: none;"
							value="#{validationView.task.description}" />
					</p:panelGrid>
					<p:commandButton value="Guardar"
						action="#{validationView.updateTask}" ajax="false"
						icon="pi pi-check" validateClient="true" style="margin-right:10px" />
				</p:panel>

			</p:outputPanel>
		</p:dialog>
	</h:form>
	
	
	


	<h:form id="formAdd">

		<p:commandButton ajax="true" value="Agregar Tarea"
			update=":formAdd:addtaskDetail"
			oncomplete="PF('addtaskDialog').show()" icon="pi pi-search"
			title="View">
			<f:setPropertyActionListener value="#{null}"
				target="#{validationView.task}" />
		</p:commandButton>

		<p:dialog header="Car Info" widgetVar="addtaskDialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="addtaskDetail" style="text-align:center;">
				<p:panel header="Validate">

					<h:panelGrid id="grid" columns="4" cellpadding="5">
						<h:outputLabel for="name" value="Titulo:" style="font-weight:bold" />
						<p:inputText id="name" value="#{validationView.task.title}"
							maxlength="32" required="true" label="Name" />
						<p:message for="name" />
						<h:outputText value="#{validationView.task.title}" />

						<h:outputLabel for="number" value="Tiempo	estimado:"
							style="font-weight:bold" />
						<p:inputText id="number" required="true"
							value="#{validationView.task.estimatedtime}" label="Number">
						</p:inputText>
						<p:message for="number" />
						<h:outputText value="#{validationView.task.estimatedtime}" />


						<h:outputLabel for="desc" value="Descripción:"
							style="font-weight:bold" />
						<p:inputTextarea id="desc"
							value="#{validationView.task.description}" required="true"
							label="Description">

						</p:inputTextarea>
						<p:message for="desc" />
						<h:outputText value="#{validationView.task.description}" />
					</h:panelGrid>

					<p:commandButton value="Guardar"
						actionListener="#{validationView.addTask}"
						update=":form:tasksTable" ajax="false" icon="pi pi-check"
						validateClient="true" style="margin-right:10px" />
					

				</p:panel>
			</p:outputPanel>
		</p:dialog>
	</h:form>
</h:body>

</html>
