<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>


<h:body>
	<h:form id="form">
		<p:growl id="msgs" showDetail="true" />

		<p:dataTable id="tasksTable1" var="_task"
			value="#{validationView.listTask}">
			<f:facet name="header">
            Basic
        </f:facet>
			<p:column headerText="Titulo">
				<h:outputText value="#{_task.title}" />
			</p:column>
			<p:column headerText="tiempo	estimado">
				<h:outputText value="#{_task.estimatedtime}" />
			</p:column>
			<p:column headerText="tiempo	trabajado">
				<h:outputText value="#{_task.workedTime}" />
			</p:column>

			<p:column headerText="tiempo	restante">
				<h:outputText value="#{_task.description}" />
			</p:column>
			<p:column headerText="descripción">
				<h:outputText value="#{_task.remainingTime}" />
			</p:column>
			<p:column style="width:32px;text-align: center">
				<p:commandButton ajax="true" update=":form:taskDetail"  oncomplete="PF('taskDialog').show()" icon="pi pi-search"	title="View">
					<f:setPropertyActionListener value="#{_task}"	target="#{validationView.task}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
		
		
		<p:dialog  widgetVar="taskDialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="taskDetail" style="text-align:center;">
				
				<p:panelGrid  columns="4" cellpadding="5" rendered="#{not empty validationView.task}" columnClasses="label,value">
	                <f:facet name="header">
	                    <p:outputLabel value="#{validationView.task.title}" /> 
	                </f:facet>
	                 
	                 
						<h:inputHidden  value="#{validationView.task.id}" />
						<h:inputHidden value="#{validationView.task.title}" />
						<h:inputHidden  value="#{validationView.task.estimatedtime}" />
						<h:inputHidden  value="#{validationView.task.description}" />
						
	                 
	                
	                <h:outputText value="tiempo	trabajado" />
	                <p:inputText id="IdworkedTime" value="#{validationView.task.workedTime}" converterMessage="Cannot convert to double.">
	                </p:inputText>
	                <p:message for="IdworkedTime" />
            					<h:outputText value="#{validationView.task.workedTime}" />
						
	                
	                <p:commandButton value="Non-Ajax"
						action="#{validationView.updateTask}" ajax="false" icon="pi pi-check"
						validateClient="true" style="margin-right:10px"  />
	 
	                
	                
            </p:panelGrid>

				
				
			</p:outputPanel>
		</p:dialog>
	</h:form>


	
</h:body>

</html>
